{% extends "base.html" %}{% block title %}
Rezerwacja sali {{room.name}}
{% endblock %}
{% block content %}
    {% if msg %}
        {{msg}}
    {% endif %}
<h4>Zarezerwuj tą salę</h4>
<form method="post">
    {% csrf_token %}
    <label>id sali</label>
    <input type="number" value="{{room.pk}}" name="id">
    <label>Wybierz termin</label>
    <input type="date" name="reserv-date" required>
    <label>Dodatkowe informacje</label>
    <input type="text" name="comment">
<a href="/reservation/{{room.pk}}"><button>Zarezerwuj salę</button></a>
</form>
{% endblock %}