{% extends "base.html" %}{% block title %}
Szczegóły sali {{room.name}}
{% endblock %}
{% block content %}
    {% if msg %}
        {{msg}}
    {% endif %}
    <div>Pojemność sali: {{room.capacity}}</div>
    <div>Czy sala ma projektor: {{room.has_projector}}</div>
    <div>Dni kiedy sala jest zarezerwowana:</div>
        {%for r in reservations%}
            {%if r.date >= today%}
        <li>{{r.date|date:"d-m-Y"}}</li>
            {%endif%}
        {%endfor%}
<a href="/reservation/{{room.pk}}"><button>Zarezerwuj salę</button></a>

{% endblock %}