{% extends "base.html" %}{% block title %}
Sale konferencyjne
{% endblock %}{% block content %}
    <h3>Dodaj nową salę:</h3>
    <a href="/room/new"><button>Nowa sala</button></a>
    <form method="GET">
        <h3>Wyszukaj salę:</h3>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
        <label for="capacity">Minimalna pojemność:</label>
        <input type="number" id="capacity" name="min_capacity">
        <label for="has_projector">ma rzutnik:</label>
        <input type="checkbox" id="has_projector" name="has_projector">
        <input type="submit" value="Szukaj">
    </form>
    <ul>
        <h3>Lista sal:</h3>
        {% for r in rooms %}
            <li>{{r.name}}
                <a href="room/modify/{{r.pk}}"><button>Modyfikuj</button></a>
                <button>Usuń</button>
                <div class="today">dzisiaj: {{status}}</div>
                - pojemność {{r.capacity}}. Ma projektor: {{ r.has_projector|yesno:"Tak,Nie" }}</li>
        {% empty %}
            Brak sal pasujących do wyszukiwania.
        {% endfor %}
    </ul>
{% endblock %}